@use 'variables';

@mixin button-reset {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-gap {
  display: flex;
  flex-wrap: wrap;
  gap: variables.$spacing-large;
}

@mixin flex-nowrap-left {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

@mixin flex-nowrap-right {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-viewport-row {
  display: flex;
  flex-direction: row;
  min-height: 100dvh;
}

@mixin flex-viewport-column {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

@mixin grid-sidebar($sidebar-width, $transition-speed) {
  display: grid;
  height: 100%;
  grid-template-columns: $sidebar-width 1fr; // sidebar and content
  grid-template-rows: auto 1fr auto; // header, main, footer
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar footer";
  min-height: 100dvh;
  transition: grid-template-columns $transition-speed ease;
}

@mixin mobile-tablet {
  @media (max-width: 1023px) {
    @content;
  }
}
