@mixin button-reset {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-gap {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@mixin flex-nowrap-left {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

@mixin flex-nowrap-right {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

@mixin flex-viewport-columns {
  display: flex;
  flex-direction: row;
  min-height: 100dvh;
}

@mixin mobile-tablet {
  @media (max-width: 1023px) {
    @content;
  }
}
