@use '@/styles/variables';
@use '@/styles/mixins';

#app {
  @include mixins.grid-sidebar(variables.$sidebar-width, variables.$sidebar-transition-speed);

  &.close {
    grid-template-columns: 0 1fr;

    > nav {
      pointer-events: none;
      transform: translateX(-100%);
      visibility: hidden;
    }
  }

  > nav {
    background-color: var(--color-navigation);
    grid-area: sidebar;
    min-height: 0; // prevent grid collapse
    overflow-y: auto;
    padding: variables.$spacing-medium variables.$spacing-large;
    transition: transform variables.$sidebar-transition-speed ease;
    width: variables.$sidebar-width;
    will-change: transform;
    z-index: 1000;

    .content {
      padding: 1rem;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 1rem 0;
      }

      a {
        color: white;
        text-decoration: none;
      }
    }
  }

  > header {
    @include mixins.flex-nowrap-right;
    gap: variables.$spacing-medium;
    grid-area: header;
    min-height: 0; // prevent grid collapse
    padding: variables.$spacing-medium variables.$spacing-large;
  }

  > main {
    @include mixins.flex-gap;
    display: flex;
    flex-direction: row;
    grid-area: main;
    min-height: 0; // prevent grid collapse
    padding: 0 variables.$spacing-large;

    @include mixins.mobile-tablet {
      flex-direction: column;
    }

    > * {
      overflow: auto;
    }

    > :first-child {
      flex: 1;
    }

    > aside {
      @include mixins.flex-column;
    }
  }

  > footer {
    @include mixins.flex-nowrap-left;
    grid-area: footer;
    min-height: 0; // prevent grid collapse
    padding: variables.$spacing-medium variables.$spacing-large;
  }
}
