@use 'variables';
@use 'mixins';

#app {
  @include mixins.grid-sidebar(variables.$sidebar-width, variables.$sidebar-transition-speed);

  &.close {
    grid-template-columns: 0 1fr;

    > nav {
      transform: translateX(-100%);
    }
  }

  > nav {
    background-color: var(--color-navigation);
    grid-area: sidebar;
    min-height: 100dvh;
    overflow-y: auto;
    padding: variables.$spacing-medium variables.$spacing-large;
    transition: transform variables.$sidebar-transition-speed ease;
    width: variables.$sidebar-width;
    z-index: 1000;

    .content {
      padding: 1rem;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 1rem 0;
      }

      a {
        color: white;
        text-decoration: none;
      }
    }
  }

  > header {
    @include mixins.flex-nowrap-right;
    grid-area: header;
    // height: calc(2rem + (#{variables.$spacing-large} * 2));
    padding: variables.$spacing-medium variables.$spacing-large;
  }

  > main {
    // @include mixins.flex-gap;
    // display: flex;
    // flex-direction: row;
    grid-area: main;
    min-height: 0; // needed for grid 1fr row

    // @include mixins.mobile-tablet {
    //   flex-direction: column;
    // }

    // > * {
    //   height: calc(100dvh - (3rem + (#{variables.$spacing-large} * 4)));
    //   overflow: auto;
    // }

    // > :first-child {
    //   flex: 1;
    // }
  }

  > footer {
    // @include mixins.flex-nowrap-left;
    // height: calc(1rem + (#{variables.$spacing-large} * 2));
    grid-area: footer;
    padding: variables.$spacing-medium variables.$spacing-large;
  }
}
