@use '@/styles/variables';

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body, input {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: variables.$font-size-text;
  font-weight: 400;
  line-height: variables.$line-height-text;
}

// css reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// default selection text
*::selection {
  background-color: var(--color-selection-background);
  color: var(--color-selection-text);
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;

  &:hover {
    color: var(--color-hover);
  }
}

h1 {
  font-size: variables.$font-size-header;
  line-height: variables.$line-height-header;
}

button {
  background-color: var(--color-primary);
  border-radius: variables.$border-radius;
  border: 1px solid transparent;
  padding: variables.$spacing-small variables.$spacing-medium;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
  cursor: pointer;

  &:hover {
    border-color: var(--color-hover);
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

table {
  border-collapse: collapse;

  th, td {
    padding: variables.$spacing-small variables.$spacing-medium;
    text-align: left;
  }

  thead {
    // primary header row
    tr:nth-child(1) th {
      background-color: var(--color-table-header-1-background);
      color: var(--color-table-header-1-text);
      font-weight: bold;
    }

    // secondary header rows
    tr th {
      background-color: var(--color-table-header-2-background);
      color: var(--color-table-header-2-text);
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: var(--color-table-cell-even-background);
        color: var(--color-table-cell-even-text);
      }

      &:nth-child(odd) {
        background-color: var(--color-table-cell-odd-background);
        color: var(--color-table-cell-odd-text);
      }

      &:hover {
        background-color: var(--color-table-cell-hover-background);
        color: var(--color-table-cell-hover-text);
        transition: background-color 0.3s ease;
      }
    }
  }

  tfoot {
    td {
      background-color: var(--color-table-footer-background);
      color: var(--color-table-footer-text);
      font-weight: bold;
    }
  }
}
